## Take Care of Your Employees

Employees Take care of your employees: A drastic thing happened and ABCXYZ123 Technical Solutions have lost one of their important employees. The company is now very concerned about the health of their employees and would want you to find that set of employees who are in need or may be in need of treatment, taking into account multiple attributes that are already stored in the database. So buckle up the wellness of your employees is in your hand.

**<u>The objective of the problem:</u>**

The objective is to predict values “treatment” attribute from the given features of the Test data.

The predictions are to be written to a CSV file along with ID which is the unique identifier for each tuple. Please upload the submission file to get a score. Please note that the training data is only for creating your data model and all predictions are to be made as per serial numbers on the test file.

**<u>The description of the data attributes is as below:</u>**

• Timestamp

• Age

• Gender

• Country

• state: If you live in the United States, which state or territory do you live in?

• self_employed: Are you self-employed?

• family_history: Do you have a family history of mental illness?

• treatment: Does he or she really needs treatment.

• work_interfere: If you have a mental health condition, do you feel that it interferes with your work?

• no_employees: How many employees does your company or organization have?

• remote_work: Do you work remotely (outside of an office) at least 50% of the time?

• tech_company: Is your employer primarily a tech company/organization?

• benefits: Does your employer provide mental health benefits?

• care_options: Do you know the options for mental health care your employer provides?

• wellness_program: Has your employer ever discussed mental health as part of an employee wellness program?

• seek_help: Does your employer provide resources to learn more about mental health issues and how to seek help?

• anonymity: Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?

• leave: How easy is it for you to take medical leave for a mental health condition?

• mental_health_consequence: Do you think that discussing a mental health issue with your employer would have negative consequences?

• phys_health_consequence: Do you think that discussing a physical health issue with your employer would have negative consequences?

• coworkers: Would you be willing to discuss a mental health issue with your coworkers?

• supervisor: Would you be willing to discuss a mental health issue with your direct supervisor(s)?

• mental_health_interview: Would you bring up a mental health issue with a potential employer in an interview?

• phys_health_interview: Would you bring up a physical health issue with a potential employer in an interview?

• mental_vs_physical: Do you feel that your employer takes mental health as seriously as physical health?

• obs_consequence: Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?

• comments: Any additional notes or comments.

<u>Load Basic Libraries</u> :-

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# To display maximum columns
pd.set_option("display.max_columns",None)

<u>Load the csv files into dataframe</u>

In [9]:
train_df = pd.read_csv(r'https://raw.githubusercontent.com/nikunj-gada/Employee-Mental-Illness-Treatment-Prediction/master/Dataset/training_.csv', header = 0, index_col = 0)
test_df = pd.read_csv(r'https://raw.githubusercontent.com/nikunj-gada/Employee-Mental-Illness-Treatment-Prediction/master/Dataset/test.csv', header = 0, index_col = 0)

# creating a copy of original df
train_copy = train_df.copy()
test_copy = test_df.copy()

In [10]:
print('Shape : ',train_df.shape)
train_df.head()

Shape :  (1048, 27)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
S.No,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
2,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
3,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
4,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
5,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [11]:
print('Shape : ',test_df.shape)
test_df.head()

Shape :  (210, 26)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
S.No,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2014-08-29 11:32:22,39,Male,United Kingdom,NaN,Yes,Yes,Sometimes,1-5,Yes,Yes,No,Yes,Yes,Yes,Yes,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
2,2014-08-29 11:32:44,26,female,United States,WA,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
3,2014-08-29 11:33:54,23,Female,United States,IL,No,Yes,Sometimes,26-100,No,No,No,No,No,No,Don't know,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
4,2014-08-29 11:34:07,35,Male,Switzerland,NaN,No,Yes,Often,More than 1000,No,Yes,Don't know,Not sure,No,No,Yes,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
5,2014-08-29 11:36:38,36,Male,United States,FL,No,No,Never,1-5,Yes,Yes,Don't know,Not sure,Don't know,Don't know,Don't know,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

**Pre-processing the data**

<u>Let us check the data frame description</u>

In [12]:
train_df.describe(include = 'all')

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,1048,1.048000e+03,1048,1048,636,1030,1048,1048,812,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,1048,132
unique,1035,NaN,45,42,45,2,2,2,4,6,2,2,3,3,3,3,3,5,3,3,3,3,3,3,3,2,128
top,2014-08-27 12:31:41,NaN,Male,United States,CA,No,No,No,Sometimes,6-25,No,Yes,Yes,No,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No,* Small family business - YMMV.
freq,2,NaN,518,644,123,906,643,536,386,245,733,870,400,422,692,534,685,466,424,773,651,439,835,461,471,902,5
mean,NaN,9.541988e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,3.089010e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,-1.726000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,3.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,3.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.000000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
test_df.describe(include = 'all')

,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,210,210.000000,210,210,107,210,210,182,210,210,210,210,210,210,210,210,210,210,210,210,210,210,210,210,210,32
unique,210,NaN,14,29,23,2,2,4,6,2,2,3,3,3,3,3,5,3,3,3,3,3,3,3,2,32
top,2014-08-29 11:32:22,NaN,Male,United States,CA,No,No,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,These result may be a tad confusing so a summa...
freq,1,NaN,96,106,15,189,123,79,55,150,161,77,80,150,112,134,97,97,151,122,77,172,96,105,173,1
mean,NaN,32.547619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,8.061968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,37.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Due to lot of columns we shall check for unique values later as descibe function isnt helping

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048 entries, 1 to 1048
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1048 non-null   object
 1   Age                        1048 non-null   int64
 2   Gender                     1048 non-null   object
 3   Country                    1048 non-null   object
 4   state                      636 non-null    object
 5   self_employed              1030 non-null   object
 6   family_history             1048 non-null   object
 7   treatment                  1048 non-null   object
 8   work_interfere             812 non-null    object
 9   no_employees               1048 non-null   object
 10  remote_work                1048 non-null   object
 11  tech_company               1048 non-null   object
 12  benefits                   1048 non-null   object
 13  care_options               1048 non-null   object
 14  wellness_program           1048 non-null   object
 15  seek_help                  1048 non-null   object
 16  anonymity                  1048 non-null   object
 17  leave                      1048 non-null   object
 18  mental_health_consequence  1048 non-null   object
 19  phys_health_consequence    1048 non-null   object
 20  coworkers                  1048 non-null   object
 21  supervisor                 1048 non-null   object
 22  mental_health_interview    1048 non-null   object
 23  phys_health_interview      1048 non-null   object
 24  mental_vs_physical         1048 non-null   object
 25  obs_consequence            1048 non-null   object
 26  comments                   132 non-null    object
dtypes: int64(1), object(26)
memory usage: 229.2+ KB

In [15]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 1 to 210
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  210 non-null    object
 1   Age                        210 non-null    int64
 2   Gender                     210 non-null    object
 3   Country                    210 non-null    object
 4   state                      107 non-null    object
 5   self_employed              210 non-null    object
 6   family_history             210 non-null    object
 7   work_interfere             182 non-null    object
 8   no_employees               210 non-null    object
 9   remote_work                210 non-null    object
 10  tech_company               210 non-null    object
 11  benefits                   210 non-null    object
 12  care_options               210 non-null    object
 13  wellness_program           210 non-null    object
 14  seek_help                  210 non-null    object
 15  anonymity                  210 non-null    object
 16  leave                      210 non-null    object
 17  mental_health_consequence  210 non-null    object
 18  phys_health_consequence    210 non-null    object
 19  coworkers                  210 non-null    object
 20  supervisor                 210 non-null    object
 21  mental_health_interview    210 non-null    object
 22  phys_health_interview      210 non-null    object
 23  mental_vs_physical         210 non-null    object
 24  obs_consequence            210 non-null    object
 25  comments                   32 non-null     object
dtypes: int64(1), object(25)
memory usage: 44.3+ KB

From above we do see that we have missing values in both the data frames. Let us check for missing values

<u>Checking for null values</u>

In [17]:
print('Training Data : \n')
train_df.isnull().sum()

Training Data :

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        412
self_employed                 18
family_history                 0
treatment                      0
work_interfere               236
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     916
dtype: int64

In [18]:
print('Testing Data : \n')
test_df.isnull().sum()

Testing Data :

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        103
self_employed                  0
family_history                 0
work_interfere                28
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     178
dtype: int64